
#history {

  padding:30px;
}
.history-card {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc!important;
  border-radius: 4px;
  }
  
  #history td, #history th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #history tr:nth-child(even){background-color: #f2f2f2;}
  
  #history tr:hover {background-color: #ddd;}
  
  #history th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #b1b0b8;
    color: white;
  }

  .table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }

  .table > thead > tr > th { 
        border-bottom-width: 1px;
        font-size: 12px;
        text-transform: uppercase;
        color: #9A9A9A;
        font-weight: 400;
        padding-bottom: 5px;
        border-top: none !important;
        border-bottom: none;
        text-align: left !important;
  }

  .table-full-width {
    margin-left: -15px;
    margin-right: -15px;
}

.table-responsive {
  overflow: visible;
}