#navigation {
    display: block;
    position: absolute;
    text-align: center;
    width:15%;
}


#navigation > a {
    display:block;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navigation > h3 {
    padding-bottom: 20px;
    padding-top:20px;
    margin-top:0;
    margin-left: 20px;
    margin-right: 20px;
    border-style: none none groove none ;
}

#navigation > a:hover {
    text-decoration: none;
    background-color: #d6e0f0;
}