#navigation {
    display: block;
    position: fixed;
    text-align: center;
    width:15%;
    height: 100%;
    background-image: url("../images/navbar.jpg");
    color:white;  
}
#navigation > .layer { 
    background-color: #9368E9;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.8;
}


.layer > a {
    display:block;
    padding: 20px 10px;
    margin: 5px 15px;
    border-radius: 4px;
    text-align: left;
    color:aliceblue;
}

.layer > a > img {
    width:28px;
    margin:0 15px;
}

.layer > h3 {
    padding-bottom: 20px;
    padding-top:15px;
    margin-top:0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.layer > a:hover {
    text-decoration: none;
    background-color: #7350b8;
    color:white;
}

.layer > a > p {
    z-index: 1000;
}

/* ///////////////////////////////////////// */

/*
=====
RESET STYLES
=====
*/

