.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }

  #id.content{
    padding: 0 18px;
    background-color: #f1f1f1;
  }

  #cve .content{
      padding: 0 18px;
      display: block;
      background-color: #f1f1f1;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .nav-report > li{
    display: inline-block;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-report {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  /* Change the link color to #111 (black) on hover */
  .nav-report > li:hover {
    background-color: #111;
  }

  /* format list tool */
  #tab-detail{
    display: block;
    width: 85%;
    position: absolute;
    left: 15%;
  }
  #list-tools{
    display: inline-block;
    width: 15%;
    position: absolute;
    height: 100%;
    text-align: center;
  }

  #list-tools > button{
    display: block;
    width:100%;
  }

  #dic > ul {
    display: block;
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 40px;
  }

  #dic > li { 
    display: list-item;
  }

 img {
    width: 15px;
  }

  #dns {
    margin: 30px 10%;
    padding: 10px;
    background-color: #e4fbff;
  }

  /* #domain > p {
    display: inline-block;
  } */

  #domain { 
    margin: 10px 5%;
    padding: 5px;
  }

  #domain > p {
    margin:0;
  }
