.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }

  #id.content{
    padding: 0 18px;
    background-color: #f1f1f1;
  }

  #cve .content{
      padding: 0 18px;
      display: block;
      background-color: #f1f1f1;
  }
  
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

  .nav-report > li{
    display: inline-block;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .nav-report {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  
  /* Change the link color to #111 (black) on hover */
  .nav-report > li:hover {
    background-color: #111;
  }