.analyze {
    margin-top:30px;
    margin-left: 25%;
    border: 1px solid #ccc!important;
    margin-right: 25%;
    border-radius: 20px;
    padding: 15px;
}

.input {
    width:100%;
}

.inputButton{
    margin-top: 10px;
}
